include head.pug
body
  div
    .row
      .col-xs-12.text-center
        h4 Page No Found!
        p
          | Sorry, but the page you
          br
          |  were looking for does not exist.
style.
  :root {
      background: #113d5b;
  }